.letter-button {
width: 60px;
height: 60px;
background: transparent;
margin: 20px;
padding: 0;
color: #41403E;
font-size: 2rem;
letter-spacing: 0px;
box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
border: solid 4px #41403E;
transition: all .2s ease;
}


.letter-button:disabled {
  opacity: 0.3;

}
.letter-button:hover:enabled {
  transform: scale(1.2);
}
